
/Attention/__pycache__
/Attention/dakshina_dataset
/Attention/models
/Attention/wandb/run-20240426_075106-3oldefv4
/Attention/wandb
/Trash/aksharantar_sampled
/Vanilla/dakshina_dataset
/Vanilla/wandb
/wandb/run-20240513_224655-lotceh27
/wandb
